@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;700&display=swap');

body {
  font-family: "DM Sans", sans-serif !important;;
  color: #1a1a1a;
}
h1,
h2,
h5 {
  line-height: 1.2;
}

.navbar .nav-link {
  transition: 0.3s;
  font-size: 18px;
  font-weight: 500;
}

.navbar .nav-link:hover {
  color: #2a6df4;
}

.hero {
  padding: 80px 0;
  background: linear-gradient(135deg, #f5f9ff, #e6f0ff);
}

.hero h1 {
  font-size: clamp(28px, 5vw, 48px);
  font-weight: 700;
}

.hero p {
  font-size: 18px;
  color: #555;
}

.hero span {
  color: #002366;
}

.btn-primary {
  background-color: #2a6df4;
  border: none;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #1d4ed8;
  transform: translateY(-2px);
}

.btn-outline-primary {
  border-color: #2a6df4;
  color: #2a6df4;
}

.btn-outline-primary:hover {
  background-color: #2a6df4;
  color: #fff;
}

.stat {
  font-size: 42px;
  font-weight: 700;
  color: #002366;
}

.stats p {
  font-size: 18px;
  color: #444;
  line-height: 1.5;
}

.stats .col-6 p {
  font-size: 16px;
  color: #666;
}

.stats {
  padding: 100px;
  background: url("https://placehold.co/1200x720") no-repeat center;
  background-size: cover;
}

@media (max-width: 768px) {
  .stat {
    font-size: 28px;
  }

  .stats p {
    font-size: 14px;
    text-align: center;
  }
}

.features {
  padding: 80px 0;
  background: #fff;
}

.features h2 {
  font-weight: 600;
  color: #002366;
}

.features .btn {
  width: 100%;
  text-align: center;
}

.feature-card {
  border-radius: 16px;
  padding: 28px;
  background: #eef4ff;
  transition: all 0.3s ease;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.feature-card img {
  width: 70px;              
  margin-bottom: 12px;
}

.feature-card h2 {
  font-size: 30px;
  margin-bottom: 8px;
}

.feature-card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 16px;
}

.feature-card .btn {
  font-size: 13px;
  padding: 8px 16px;
}

.feature-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .features {
    padding: 50px 15px;
  }

  .feature-card {
    padding: 20px;
  }

  .features h2 {
    font-size: 24px;
  }
}

.cta {
  background: #0b1f4b;
  color: #fff;
  padding: 70px 20px;
}

.cta h2 {
  font-weight: 600;
  font-size: 32px;
}
.cta p {
    max-width: 500px;
}

.footer {
  background: #ddeaff;
  padding: 30px 0;
  font-size: 14px;
  color: #002366;
}

.footer p {
  font-size: 16px;
}

.social-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #f1f5ff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #002366;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-btn:hover {
  background: #002366;
  color: #fff;
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.footer-link {
  text-decoration: none;
  color: #555;
  font-size: 15px;
  transition: 0.3s;
  color: #002366;
}

.footer-link:hover {
  color: black;
  padding-left: 5px;
}

.copyright-bar {
  background-color: dodgerblue;
  padding: 15px 0;
}

.copyright-bar p {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.btn {
  transition: 0.3s;
}

.btn:hover {
  transform: translateY(-2px);
}

.loader-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: lightgrey;
  color: black;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #334155;
  border-top: 5px solid #38bdf8;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.services input {
  padding: 12px;
  border-radius: 10px;
}

.services-card {
  background: #eef4ff;
  border-radius: 16px;
  padding: 25px;
  text-align: center;
  transition: 0.3s;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services-card button {
  margin-top: auto;
   transition: 0.3s;
}

.services-card button:hover {
  transform: scale(1.05);
}

.services-card img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin: 0 auto 12px;
}

.services-card h5 {
  font-weight: 600;
}

.services-card h6 {
  color: #2a6df4;
  margin-bottom: 10px;
}

.services-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}